<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.johnl.locfeedproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBQRE5Jl_5XOnC6k1T4XrQO4n-iuM68pXU" />

        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".TestActivity" />
        <activity android:name=".QuestionCreateActivity" >

            </activity>
        <activity android:name=".EventCreateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ChooseActivity" >

            </activity>
        <activity android:name=".QuestionFeedActivity" />

        <activity android:name=".EventFeedActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>